@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DynaPuff:wght@400;500;600;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

/* *Resources */
:root{
    --mainTitle- : font-family: 'Aboreto', cursive;
    --titleNews  : font-family: 'DynaPuff', cursive;
    --paragraph  : font-family: 'Nanum Myeongjo', serif;
}
body{
    background: url(/resources/bcgVintage.jpg);
}
.fecha{
    font-family: var(--titleNews);
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.445);
}
.menuNoticias{
    font-family: var(--titleNews);
    font-size: 1.5rem;
    align-self: center;
}
select{
    border: none;
    background-color:transparent;
}
select option{
    background-color: #dac39a;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header .title{
    font-family: var(--mainTitle-);
    font-size: 5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.397);
}
.efecto {
    background-color: rgba(0, 0, 0, 0.411);
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
.efecto:first-child{
    margin-right: 20px;
}
.efecto:last-child{
    margin-left: 20px;
}

.borde{
    border-top: 1px solid rgba(0, 0, 0, 0.404);
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 480px) {
    .efecto{
        display: none;
    }
    .header .title{
        font-size: 3rem;
    }
}